/* ----------
Font Family
------------- */

*{
    font-family: 'Work Sans', sans-serif;
} 
/* header styling */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1900px;
    height: 1300;
    text-align: center;

} 
/* nav-bar style begins */
.nav-bar{
    /* width: 50px;
    height: 10px; */
    display: flex;
    justify-content: space-around;
    padding: 10px 100px;
}
.logo{
    font-weight: 700px;
    font-size: 20px;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
   
}
/* nav-bar style ends */
/* banner style begins */
.banner{
    justify-content: center;
    text-align: center;

}
.banner-heading{
    font-weight: 700;
    font-size: 64px;

}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    width: 700px;
    height:  100px;
    margin-left: 650px; 
} 
button{
    background-color: orange;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.banner-image{
    width: 1400px;
    height: 700px;
    margin: 150px 240px 45px;
    position: relative;
}
/* banner style ends */
/* 2nd-part style */
.second-part{
    margin-top: 85px;
    display: flex;
    justify-content:center;
   

}
.second-part-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    height: 708px;
    width: 708px;

}

.second-part-container{
    width: 530px;
    height: 304px;
    margin-left: 45px;
    margin-top: 100px;

}


.second-part-heading{
    font-weight: 500;
    font-size: 45px;
}


.second-part-heading .gray{
    color: #727272;
}


.second-part-heading .orange{
    color: #FF900E;
}


.second-part-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* second part ends  */

/* third-part begins */

.third-part{
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 130px;

}
.third-part-container{
    text-align: left;
    width: 586px;
    height: 992px;
    

}
.third-part-heading{
    border-left:  5px solid  #FF900E;
    height: 106px;
    font-weight: 700;
    font-size: 45px;

}
.third-part-image{
    position: relative;
    margin-left: 50px;

}
.third-part-image .btn{
    position: absolute;
    top:95%;
    left: 0%;
    
}





/* 3rd part style ends  */


/* 4th part begins */
.fourth-part{
    text-align: center;
    margin-top: 130px;
  

}
.fourth-part-container{
    
    position: relative;
    margin-bottom: 30px;

}
.fourth-part-heading{
    font-weight: 700;
    font-size: 45px;

}
.fourth-part-images{
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 1340px;
      height: 291;
      margin-left: 300px;
      margin-top: 70px;

}
.fourth-part-images .box{
    height: 150px;
    width: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.box:hover{
    width: 170px;
    height: 170px;
    transition: width o.5s ease;
}
/* 4th part ends */
/* 5th part begins */

.fifth-part{
    margin-top: 130px;
    text-align: center;


}
.sponsors-heading{
    font-weight: 700;
    font-size: 45px;

}
.fifth-part-images{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1400px;
    height: fit-content;
    margin-left: 250px;
    margin-top: 70px;

}
/* 5th part ends */
/* bonus part  */
.bonus{
    width: 700px;
    text-align: center;
    background-color: rgb(183, 239, 241);
    margin-left: 700px;
    margin-top: 130px;
}
/* footer styling */
footer{
    width: 1400px;
    height: 60px;background-color:  rgba(255, 144, 14, 0.1);
    padding: 20px;
    text-align: center;
    margin-left: 250px;
    margin-top: 130px;
}
/* footer styling ends  */
/* time to make website responsive */

@media  screen and (max-width: 576px){
    header{
        width: 100%;
        position: relative;

    }
    .nav-bar, .nav-list, .second-part, .third-part{
        flex-direction: column;
    }
    .banner-image{
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 15px;
    }
    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .banner-description{
        margin-left: 30px;
        width: 300px;
    }
    .second-part-images{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
    }
    .second-part-container{
        height: 150px;
        width: 300px;
        margin-: 0;
    }
    .third-part{
        margin-top: 400px;
    }
    .third-part-heading{
        margin-bottom: 30px;
    }
    .third-part-container{
        width: 100%;
        height: 100%;
    }
    .third-part-image{
      
       
      
     }
    .third-part-image .btn{
        } 
        
    
    .fourth-part{
        margin: auto;
    }
    .fourth-part-container{
        margin: auto;
    }

    .fourth-part-images{
        width: 50%;
        height: 50%;
        margin: auto;
        flex-direction: column;
    }
    .fifth-part-images{
        
        flex-direction: column;
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .bonus{
        width: auto;
        margin: 0px;
    }
    footer{
        width: auto;
        height: auto;
        margin: 0px;

        }
    }


    
